
<div class="panel panel-default" style="opacity: 0.9"  style="font-weight: 800; color: black;">
  <div class="panel-heading">
    <h3 class="panel-title"  >Add to WishList</h3>
  </div>
  <div class="panel-body" style="font-weight: 800; color: black; background-image:url(https://thumb9.shutterstock.com/mosaic_250/4000264/537019366/stock-photo-organic-cosmetic-with-rose-oil-on-white-background-top-view-537019366.jpg); background-repeat: no-repeat; background-size: cover;">
      <div class="col-md-12">
      <form ng-submit="addCosmetic()">
        <div class="form-group">
          <label>Item</label>
          <input type="text" class="form-control" ng-model="cosmetic.item" placeholder="Item" required>
        </div>
        <div class="form-group">
          <label>Type</label>
          <select ng-model="cosmetic.type" class="form-control" required>
            <option value="">Select</option>
            <option value="Nail-makeup">Nail Makeup</option>
            <option value="Eye-makeup">Eye-makeup</option>
            <option value="SkinCare">Skin Care</option>
            <option value="HairCare">Hair Care</option>
            <option value="Facemakeup">Face makeup</option>
        
          </select>
        </div>
          
        

        <div class="form-group">
          <label>Brand</label>
          <input type="text" class="form-control" ng-model="cosmetic.brand" placeholder="Brand" required>
        </div>
        <div class="form-group">
          <label>Price</label>
          <input type="number"  step="any" class="form-control" ng-model="cosmetic.price" placeholder="Price" required>
        </div>
          
       
           <div class="form-group">
          <label>Upload Image</label>
          <input type="file"  class="form-control" ng-model="cosmetic.image_url" placeholder="Image URL">
        </div>

  <!--      <div class="form-group">
          <label>Image URL</label>
          <input type="url" class="form-control" ng-model="cosmetic.image_url" placeholder="Image URL">
        </div> -->
        <div class="form-group">
          <label>Buy URL</label>
          <input type="url" class="form-control" ng-model="cosmetic.buy_url" placeholder="Buy URL" required>
        </div>
       
        <button target="#/cosmetics" type="submit" class="btn btn-default">Submit</button>
          
          <div class="pull-right">
            <a href="#/cosmetics">cancel</a>
          </div>
          
      </form>
    </div>
    </div>
  </div>
</div>
