<html >
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>CosmeticStore</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
    
</head>
<body >
 <!--  <nav class="navbar">
      <div class="container">
          <h1 class="navbar-brand" style="float: left;">
              <strong>
                  <font size="18px" face="Lucida Handwriting" color="#000000">Beauty Plaza
                  </font>
              </strong>
          </h1> 
        <div class="dropdown navbar-brand" style="float: right;">
            <button class="btn btn-default btn-lg btn-success dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" >Wish List <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation" class="btn"><a role="menuitem" tabindex="-1" href="#/cosmetics/add">Add to List</a></li>
                <li role="presentation" class="btn"><a role="menuitem" tabindex="-1" href="#/cosmetics">Update Items</a></li>
            </ul>
        </div>
      </div>   
    </nav>     -->
    
    <center>
   
        
        <div class="container">
                
            
        <!--    <h1 font face="Arial" color="#33FFF9">Beauty Tips</h1>          -->
            
             <font size="18px" face="Italic" color="#5B2C6F  ">Beauty Tips
                  </font>

        
        </div>
        </center>
    
    
    <center>
    
    
      <div class="timeline">
  <div class="container left">
      
    <div class="content" style="border-radius: 25px; background: #808B96;padding: 20px; width: 600px; height: 250px; ">
      <h2>Hair Care</h2>
      <p>Give it a magical massage - Massaging your scalp for a few minutes daily will help stimulate circulation. Good circulation in the scalp keeps hair follicles active. Circulation may be improved through massage by any natural oil – olive, coconut, amla, etc. Just warm it up, massage it gently into your scalp, leave it on for an hour and then shampoo your hair. This is one of the best homemade beauty tips for hair that will help in hair growth and will give you natural shiny hair.</p>
    </div>
      
   |  <div class="content" style="border-radius: 25px; background: #808B96;padding: 20px; width: 600px; height: 250px; ">        
      <h2>Fairness Tips</h2>
      <p>This herbal variant, enriched with turmeric and milk is perfect for sensitive skin. Inspired by the home made urban, it removes dead cells, sun tan, lightens skin tone and gives a healthy fairness.</p>
    </div>  
    
      |
     <div class="content" style="border-radius: 25px; background: #808B96;padding: 20px; width: 600px; height: 250px;">
      <h2>Natural Skin Care Tips</h2>
      <p>Find a good cleanser that your skin responds well to, and stick with it. You can use a deep pore cleansing lotion if you have dry skin or a face wash if your skin is acne-prone. It’s important to remove signs of dirt, grime and pollution every day. However, be careful not to cleanse too often. When you wash your face too often or use harsh cleansers, you tend to strip all your natural oils, which is not a great thing. Don’t wash your face more than two times a day;</p>
    </div>
        </div>
    </div>
        
    </center>
   <!-- <div class="container">
    	<div class="row">
    		<div class="col-md-12">
    			<div ng-view></div>
    		</div>
    	</div>
    </div>
-->
    </body>

    <!--
    <script src="libs/angular/angular.js"></script>
<script src="libs/angular-route/angular-route.min.js"></script>

    
    /.container -->
<!--	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-route/angular-route.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/app.js"></script>
	<script src="/controllers/cosmetics.js"></script>          -->
	</html>
